<div class="namespace-wrapper" {{ if .Deployments }}style="grid-row-end: span {{ len .Deployments }};"{{ end }}>
    <div class="namespace-name" onclick="location.href='/namespace/{{ .Name }}'" >{{ .Name }}</div>

    {{ if not .Deployments }}
        <div class="state-text">No Deployments</div>
    {{ end }}

    {{ range .Deployments }}
        <div class="status-wrapper" onclick="location.href='/status/{{ .Namespace  }}/{{ .Name }}'">
            <div class="deployment-name">{{ .Name }}</div>
            {{ template "deployment.svg" .SvgStatus }}
        </div>
    {{ end }}
</div>